$white: #FFF;
$orange: #F26C4F;
$orange-dark: #D75F47;
$grey-light: #FEFEFE;
$grey-dark: #353533;

$primary-color: $orange;
$secondary-color: $grey-light;
$text-color-dark: #3A3E3F;
$text-color-light: $white;
$buton-primary-color: #DFDFDF;
$border-primary-color: #D7D7D7;
$post-date-color: #AEAEAE;
$post-description-color: #959595;
